.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.info-block{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    margin: 30px;
    cursor: pointer;
    width: 250px;
    padding: 20px;
    border: 1px solid red;

}

.input {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.input-block{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
